/* You can add global styles to this file, and also import other style files */
@import '@siemens/element-icons/style/siemens-element-icons.css';
@import '@siemens/element-theme/src/theme.scss';
@import '@siemens/element-ng/element-ng.scss';

:root, :root.theme-element {
  --element-brand-logo: url("https://images.weserv.nl/?url=https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/siemens.svg&fill=009999");
  --element-brand-logo-width: 100px;
  --element-brand-logo-height: 20px;
  --element-brand-logo-text: "Siemens";
}

:root.app--dark, :root.theme-element.app--dark {
  --element-brand-logo: url("https://images.weserv.nl/?url=https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/siemens.svg&fill=ffffff");
}

